@charset "utf-8";
.all_nav {
    /* max-width: 1920px; */
    width: 100%;
    /* height: 100%; */
    background-color: #ccc;
    padding: 30px;
}
.all_nav h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: brown;
    padding-bottom: 12px;
}
.all_nav ul .navmenu {
    font-size: 2.0rem;

}
.all_nav>ul:after {
    content: '';
    display: block;
    clear: both;
}
.all_nav>ul>li {
    /* 플롯 */
    float: left;
    width: 200px;
    margin-bottom: 50px;
}
.all_nav>ul>li>a {
    margin-bottom: 44px;
}
.all_nav>ul>li>ul>li {
    padding: 12px 0;
}
.all_nav>ul>li>ul>li>a {
    font-size: 1.6rem;
}
.all_nav:after {
    content: '';
    display: block;
    clear: both;
}
.all_nav div {
    /* 플롯 */
    float: left;
    width: 200px;
    margin-bottom: 20px;
}
.all_nav div h2 {
    font-size: 2.4em;
    font-weight: 700;
    color: brown;
    padding-bottom: 12px;
}
.all_nav div ul li {
    padding: 12px 0;
}
.all_nav div ul li a {
    font-size: 1.6em;
}